#first-text{
    color: red;
    font-size: 30px;
}
.first-div{
    background-color: #427272;
}
.header-main{
    display: flex;
}
.header-menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.first-para{
    color: blue;
}
.first-para span{
    color:yellow;
}
table{
    width: 100%;
  }
  th ,td{
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  thead{
    background-color: #f2f2f2;
  }
  .table-title{
    text-align: center;
  }
